<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://kit.fontawesome.com/f645ac3a49.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../main.css">
  <title>Document</title>
</head>
<body>
  <section class="bingo-card">
    <div class="row">
      <div class="cell">9<span class="circle"></span></div>
      <div class="cell">12<span class="circle"></span></div>
      <div class="cell">24<span class="circle"></span></div>
      <div class="cell">39<span class="circle"></span></div>
      <div class="cell">43<span class="circle"></span></div>
      <div class="cell"><span class="circle"></span></div>
      <div class="cell"><span class="circle"></span></div>
      <div class="cell"><span class="circle"></span></div>
      <div class="cell"><span class="circle"></span></div>
    </div>
    <div class="row">
      <div class="cell"><span class="circle"></span></div>
      <div class="cell"><span class="circle"></span></div>
      <div class="cell"><span class="circle"></span></div>
      <div class="cell"><span class="circle"></span></div>
      <div class="cell"><span class="circle"></span></div>
      <div class="cell"><span class="circle"></span></div>
      <div class="cell"><span class="circle"></span></div>
      <div class="cell"><span class="circle"></span></div>
      <div class="cell"><span class="circle"></span></div>
    </div>
    <div class="row">
      <div class="cell"><span class="circle"></span></div>
      <div class="cell"><span class="circle"></span></div>
      <div class="cell"><span class="circle"></span></div>
      <div class="cell"><span class="circle"></span></div>
      <div class="cell"><span class="circle"></span></div>
      <div class="cell"><span class="circle"></span></div>
      <div class="cell"><span class="circle"></span></div>
      <div class="cell"><span class="circle"></span></div>
      <div class="cell"><span class="circle"></span></div>
    </div>

  </section>
</body>
</html>