*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Big Shoulders Text', cursive;
}

h1 {
    text-align: center;
    color: rgb(161, 17, 17);
    font-size: 3em;
    margin: 10px 0px 20px 0px;
}


#game-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#player-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  
    margin-top: 20px;
    
    button {
        width: 100px;
        height: 60px;
        border-radius: 20px;
        font-size:1em;
        margin-bottom:10px;

        &:hover {
            background-color: rgb(138, 28, 28);
            cursor: pointer;
            color: white;
        }
    }
}

#nick-name {
    width: 100vw;
    font-size: 1em;
    line-height: 2em;
    margin: 20px auto;
    text-align: center;
}

@media only screen and (min-width: 480px) {
        
    #player-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 60px;

        button {
            width: 150px;
            height: 60px;
            border-radius: 20px;
            font-size: 2em;
            margin-bottom: 10px;
        }
    }
}