* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Big Shoulders Text", cursive;
}

h1 {
  text-align: center;
  color: #a11111;
  font-size: 3em;
  margin: 10px 0px 20px 0px;
}

#instructions {
  display: block;
  position: fixed;
  z-index: 1;
  left: 15vw;
  top: 10vh;
  width: 70%;
  height: 80%;
  overflow: auto;
  background-color: #9b7d7d;
  /* Fallback color */
  -webkit-box-shadow: 1px 4px 10px 5px grey;
          box-shadow: 1px 4px 10px 5px grey;
}

#instructions h2 {
  text-align: center;
  margin-top: 10px;
}

#instructions p {
  padding: 7px;
}

#instructions .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  height: 50px;
  width: 100%;
}

#instructions .options p {
  margin-top: 10px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

#instructions .options #option-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

#instructions .options #option-list input {
  margin-right: 5%;
  padding: 5px;
}

#instructions .options label {
  margin: 10px auto;
}

#instructions .options input[type=number] {
  margin: 0 auto;
  width: 24px;
  text-align: center;
  padding: 2px;
}

#instructions .options input[type=submit] {
  margin: 10px auto;
  width: 60px;
  text-align: center;
  padding: 2px;
  color: whitesmoke;
  background-color: #332572;
}

#game-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#player-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 20px;
}

#player-buttons button {
  width: 100px;
  height: 60px;
  border-radius: 20px;
  font-size: 1em;
  margin-bottom: 10px;
}

#player-buttons button:hover {
  background-color: #8a1c1c;
  cursor: pointer;
  color: white;
}

#caller-words {
  height: 30px;
}

#caller-words #nick-name {
  width: 100vw;
  font-size: 0.9em;
  margin: 20px auto;
  text-align: center;
}

#prizes {
  width: 100vw;
  height: 40px;
}

#prizes .winning-line-prize {
  width: 60px;
  height: 60px;
}

@media only screen and (min-width: 480px) {
  #player-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 60px;
  }
  #player-buttons button {
    width: 150px;
    height: 60px;
    border-radius: 20px;
    font-size: 2em;
    margin-bottom: 10px;
  }
}
/*# sourceMappingURL=styles.css.map */